p.cssStyle {
    color: #ff0000; /*Mau do*/
	font-size: 200%; /*Tang co chu len gap doi*/
	font-family: "Arial", Courier, monospace; /*Dinh dang Font*/
	font-weight: 500;  /*Do dai cho Text*/
}

div.content{
	font-weight: bolder; /*Dinh dang do day*/
	font-size: 200%;
}